.dropdown-content {
  padding: 5px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.fa-chevron-down {
  cursor: pointer;
  color: rgb(161, 157, 157);
}

.comment {
  overflow-y: auto;
  height: 500px;
  background-color: #242526;
}
textarea {
  background-color: #3a3b3c;
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  max-width: 100%;
  max-height: 100%;
}
.form_update {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
}
input {
  /* background-color: #ccd1d6; */
  outline: blue;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
